<h1>Sign Up!</h1>

<form action="/signup" method="POST">

<label>
    Email
    <input type="email" name="email" placeholder="email@email.com">
</label>

<label>
    Password
    <input type="password" name="passwordHash" placeholder="password">
</label>

<button type="submit">Create Account</button>
</form>
